@using DiscBudV1.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<DiscBudV1User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiscBudV1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DiscBudV1.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/a37d840623.js" crossorigin="anonymous"></script>
</head>
<body style="background-image: url('@Url.Content("~/images/BackgroundImage.jpg")');">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navBg box-shadow mb-5">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="AllDiscs">All Discs</a>
                            </li>
                        }
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Discs" asp-action="Index">Manage Discs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="InvDiscs" asp-action="Index">Inventory</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Bags" asp-action="Index">Bag</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="py-3 rounded">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-light navBg pt-3 mt-3">
        <div class="container d-flex justify-content-between">
            <p>&copy; 2024 - DiscBud - </p> 
            <div class="d-inline-flex">
            <a href="https://github.com/Htmil/DiscBudV1" target="_blank"><i class="fa-brands fa-github" style="font-size: 1.5rem; color: white; margin-right:.5rem;"></i></a> 
            <a href="https://linkedin.com/in/emil-cederslätt" target="_blank"><i class="fa-brands fa-linkedin" style="font-size: 1.5rem; color: white;"></i></a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

