@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <p>
        <a href="@Url.Action("Create", "Discs")" type="button" class="btn btn-info m-1 p-1">Add your Discs</a>
    </p>
</div>