html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 100px;
    /*    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed
}
main {
    /*background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);*/
    background-image: linear-gradient(135deg, #fff 0%, #9aaea3d6 100%);
}

.navBg {
    background: #093028; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn-ctf {
    background: #237A57;
    color:white;
}
.mainContainer{
    min-height: 60vh;
    max-height:70vh;
    overflow-y: scroll;
    scrollbar-width:none;
    -ms-overflow-style:none;
}
.mainContainer::-webkit-scrollbar {
     display:none;
}
    footer {
    line-height: 0;
}

